<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<h1>Лекции по английскому языку</h1>
<h3>Какие то важные контакты: {{contacts}}</h3>
<br>
<h1>Функция отправки сообщения</h1>
<form method="post">
    <input type="text" name="title" placeholder="Заголовок">
    <input type="text" name="text" placeholder="Текст сообщения">
    <input type="email" name="email" placeholder="email">
    <button type="submit">Отправить</button>
</form>
</body>
</html>