<ul style="margin: 0;
    padding: 4px;">
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/">
            Курсы
        </a>
    </li>
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/create-course/">
            Создать курс
        </a>
    </li>
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/create-category/">
            Создать категорию
        </a>
    </li>
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/category-list/">
            Список категорий
        </a>
    </li>
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/contacts/">
            Контакты
        </a>
    </li>
    <li style="display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;">
        <a href="/about/">
            О нас
        </a>
    </li>

</ul>